<div class="container">
  <h1>會議室預約單</h1>
  <form #form="ngForm" [appCheckEndDate]="['startDate','endDate']" (ngSubmit)="form.form.valid" >
    <div class="form-group">
      <label for="name">租借人姓名</label>
      <input type="text" class="form-control" id="name" name="name" minlength="4" placeholder="請輸入租客姓名" required
        [(ngModel)]="rentRoom.name" #name="ngModel">
      <div class="alert alert-danger" *ngIf="name.invalid && (name.disabled || name.touched)">
        <div *ngIf="name.errors.required">必須輸入租借者姓名</div>
        <div *ngIf="name.errors.minlength">長度必須大於4</div>
      </div>
    </div>


    <div class="form-group">
      <label for="Nofpeople">參與人數</label>
      <select class="form-control" id="Nofpeople" required name="Nofpeople" [(ngModel)]="rentRoom.nofpeople"
        #Nofpeople="ngModel">
        <option *ngFor="let capacity of capacitys" [value]="capacity">{{capacity}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="size">分機號碼</label>
      <input type="text" class="form-control" id="extNo" name="extNo" pattern="[0-9]{4}" placeholder="辦公室分機號碼" required appCheckExtNo
        [(ngModel)]="rentRoom.extNo" #extNo="ngModel">
      <div class="alert alert-danger" *ngIf="extNo.invalid && (extNo.dirty || extNo.touched)">
        <div *ngIf="extNo.errors.required">必須輸入分機號碼</div>
        <div *ngIf="extNo.errors.pattern">必須是四個數字</div>
        <div *ngIf="extNo.errors.appCheckExtNo">必須介於1000-1999之間</div>
      </div>
    </div>

    <div class="form-group">
      <label for="size">租借時間</label>
      <input type="datetime" class="form-control" id="startDate" placeholder="起始時間" required name="startDate" [(ngModel)]="rentRoom.startDate" #startDate="ngModel">
      <input type="datetime" class="form-control" id="endDate" placeholder="退還時間" required name="endDate" [(ngModel)]="rentRoom.endDate" #endDate="ngModel">
      <div class="alert alert-danger" *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)">
        <div *ngIf="endDate.errors.required">必須輸入租借期間</div>
        <div *ngIf="endDate.errors.MustGreaterThan">退還時間必須大於起始時間</div>
      </div>
    </div>
    <div>
      <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Submit</button>
      <pre>{{form.value | json}}</pre>
      <pre>{{form.status | json}}</pre>
    </div>
  </form>
</div>
