<form #form="ngForm" autocomplete="off">
  <input type="hidden" name="id" [value]="service.formData">

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-repend"></div>
      <div class="input-group-text bg-white">
        <i class="fas fa-door-open"></i>
      </div>
      <input type="text" name="name" id="name" class="form-control" placeholder="會議室名稱"
        [(ngModel)]="service.formData.name" #name="ngModel">
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-repend"></div>
      <div class="input-group-text bg-white">
        <i class="fas fa-users"></i>
      </div>
      <select name="size" id="size" class="form-control" required [(ngModel)]="service.formData.size" #size="ngModel"
        (ngModelChange)="onSizeChange($event)">
        <option value="-1">請選擇會議室可容納人次</option>
        <option *ngFor="let capacity of capacitys" [value]="capacity.value"
          [selected]="capacity.value == service.formData.size">{{capacity.text}}</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="input-group">
        <div class="inputgroup-prepend"></div>
        <div class="input-group-text bg-white">
          <input type="checkbox" name="projector" aria-lable="CheckBox for following text input"
            [(ngModel)]="service.formData.projector" #projector="ngModel">
        </div>
        <label class="form-control">投影機</label>
      </div>
    </div>
    <div class="form-group col-md-6">
      <div class="input-group">
        <div class="inputgroup-prepend"></div>
        <div class="input-group-text bg-white">
          <input type="checkbox" name="tv" aria-lable="CheckBox for following text input"
            [(ngModel)]="service.formData.tv" #tv="ngModel">
        </div>
        <label class="form-control">電視</label>
      </div>
    </div>

  </div>
  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid" (click)="onSubmit(form)">
      <i class="fas fa-database"></i> Submit
    </button>
  </div>
</form>
